* {
  margin: 0px;
  font-family: "Roboto Mono", monospace;
  font-size: large;
}

.main {
  background-color: #bed4c6;
  font-weight: bold;
  color: #bed4c6;
  background-image: url(../img/aboutMe.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* Header styling */
.header {
}

div.container {
  max-width: 1080px;
  margin-left: 0px;
}
div.jumbotron {
  border-bottom: solid 2px;
}
.jumbotronName {
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.685);
}
/* End of Header styling */

/* NavTabs Styling */
ul.nav.nav-tabs.nav-justified {
  border-bottom: 2px solid #f9f4f0;
}
a.nav-link {
  background-color: #dadbc7 !important;
  color: black;
  font-size: 24px;
  border-bottom: solid #bed5c6 !important;
  width: 99% !important;
  margin: 5px;
}
a.nav-link.active {
  background-color: #eee9e3 !important;
}
a.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.685) !important;
  color: black;
}
/* End of NavTabs Styling */

/* About Me Page Styling */
.aboutMe {
  margin: 5px;
  margin-bottom: 15px;
}
.aboutMe h1 {
  font-weight: bolder;
}
.aboutMeDescription {
  background-color: #473d0028;
  border-radius: 4px;
  padding: 20px;
  line-height: 2;
  font-size: large;
  box-shadow: 4px 3px #473d005b;
  margin-top: 3%;
}
/* End of AboutMe Page Styling */

/* Portfolio Page Styling */
img.card-img-top {
  margin: 0;
  padding: 0px;
  background-size: cover;
  background-position: center;
  height: 200px;
}
.card {
  background-color: #473d0023 !important;
  color: rgba(255, 255, 255, 0.685);
  margin: 10px;
  box-shadow: inset;
  box-shadow: 4px 4px #473d005b;
}
.card-title {
  font-size: 36px;
  font-weight: bolder;
  border-bottom: solid rgba(255, 255, 255, 0.685);
}
/* End of Portfolio Page Styling */

/* Contact Page Styling */
.form {
  margin: 5px;
  padding: 5px;
}
div#__react-alert__ div div div {
  width: 80% !important;
  background-color: #473d00de !important;
  color: rgba(255, 255, 255, 0.685) !important;
  text-transform: none !important;
}
/* End of Contact Page Styling */

/* Resume Page Styling */
li.list-group-item {
  background-color: #473d0023 !important;
  color: rgba(255, 255, 255, 0.685);
}
.experiance {
  padding: 5px;
  margin: 10px;
}
.experiance h3 {
  border-bottom: solid white;
  padding: 2px;
}
.resumeLink {
  font-size: 24px;
}
.resumeBtn {
  color: rgba(255, 255, 255, 0.685);
  font-size: 24px;
}
/* End of Resume Page Styling */

/* Footer Styling */
.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 10px;
  padding-right: 10px;
}
/* End of Footer Styling */
