@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,200&family=Roboto+Slab&display=swap");
* {
  margin: 0px;
  font-family: "Nunito", sans-serif;
  font-size: large;
}

.main {
  background-color: #bed4c6;
  font-weight: bold;
  color: #dadbc7;
  background-image: url(../img/aboutMe.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* Header styling */
div.container {
  max-width: 1080px;
  margin-left: 0px;
}
div.jumbotron {
  border-bottom: solid 2px white;
  background-color: rgb(0, 0, 0);
}
.vector {
  background-image: url(/src/img/vector.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
}
/* End of Header styling */

/* NavTabs Styling */
ul.nav.nav-tabs.nav-justified {
  border-bottom: 2px solid #dadbc7;
  padding: 3px;
}
a.nav-link {
  font-family: "Roboto Slab", serif;
  background-color: #dadbc7 !important;
  color: black;
  font-size: 24px;

  border-bottom: solid #bed5c6 !important;
  width: 99% !important;
  margin: 1px;
}
a.nav-link.active {
  background-color: #eee9e3 !important;
}
a.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.685) !important;
  color: black;
}
/* End of NavTabs Styling */

/* About Me Page Styling */
.aboutMe {
  margin: 5px;
  margin-bottom: 15px;
}
.aboutMe h1 {
  font-weight: bolder;
}
.aboutMeDescription {
  background-color: #473d0023;
  border-radius: 4px;
  padding: 20px;
  line-height: 2;
  font-size: large;
  box-shadow: 4px 3px #473d005b;
  margin-top: 3%;
}
/* End of AboutMe Page Styling */

/* Portfolio Page Styling */
img.card-img-top-port {
  margin: 2px;
  padding: 2px;
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 100%;
  border-radius: 10px;
}
.portfolioSection {
  justify-content: center;
  margin-top: 20px;
}
.projectPicture {
  border-radius: 5px;
  width: 200px;
  height: 200px;
}
.card-port {
  background-color: #473d0023 !important;
  color: rgba(255, 255, 255, 0.685);
  margin: 10px;
  box-shadow: inset;
  box-shadow: 4px 4px #473d005b;
  border-radius: 10px;
}
.card-title-port {
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  font-weight: bolder;
  border-bottom: solid rgba(255, 255, 255, 0.685);
}
/* End of Portfolio Page Styling */

/* Contact Page Styling */
.contactSection {
  justify-content: center;
  margin-top: 20px;
}
.profilePicture {
  border-radius: 5px;
  width: 100%;
  height: 100%;
}
#contactTitle {
  font-family: "Roboto Slab", serif;
}
.contactCard {
  background-color: #473d0023 !important;
  width: 90%;
}
.contactInfo h4 {
  font-family: "Roboto Slab", serif;
  border-bottom: 1px solid;
  width: 150px;
  margin-bottom: 10px;
}

.contactLink {
  color: #dadbc7 !important;
  text-decoration: none;
}

/* End of Contact Page Styling */

/* Resume Page Styling */
li.list-group-item {
  background-color: #473d0023 !important;
  color: #dadbc7;
  border-bottom: 1px solid #473d0050;
}
.experiance {
  padding: 5px;
  margin: 10px;
}
.experiance h3 {
  border-bottom: solid #dadbc7;
  padding: 2px;
  font-family: "Roboto Slab", serif;
}
.resumeLink {
  font-size: 24px;
}
.resumeBtn {
  color: rgba(255, 255, 255, 0.685);
  font-size: 24px;
}
/* End of Resume Page Styling */

/* Footer Styling */
.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  color: #dadbc7;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 10px;
  padding-right: 10px;
}
.fa-stack-overflow:before,
.fa-linkedin:before,
.fa-github:before {
  color: #dadbc7;
  margin: 5px;
}
/* End of Footer Styling */
