* {
  background-color: linear-gradient(to right, #a2a2a2, #5d5d5d);
  margin: 3px;
  font-family: "Roboto Mono", monospace;
}
a.nav-link {
  color: white;
}
li.nav-item {
  background-color: black;
  border-radius: 10px;
}
li.nav-item.active {
  border-radius: 10px;
}
.container {
  max-width: 1080px;
}
div.jumbotron {
  border: 3px, black;
}

img.card-img-top {
  margin: 0;
  padding: 0px;
  background-size: cover;
  background-position: center;
}
.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 10px;
  padding-right: 10px;
}

i:hover {
  color: #aec6cf;
  transition: 0.4s;
  cursor: pointer;
}
